<!DOCTYPE>
<HTML xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout.html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">

</head>
<body>
<section layout:fragment="pagecontent">
    <div class="container mt-5">
        <div class="cards">
            <form class="d-flex" th:action="@{index}" method="get">
                <input class="form-control mr-2" type="search" placeholder="name"
                       name="keyword" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div class="card-header">List des Films</div>
            <div class="card-body">
                <div class="col text-left" style="margin-bottom: 10px;">
                    <a type="button" class="btn btn-success " sec:authorize="hasRole('ROLE_ADMIN')"
                       th:href="@{/FilmAjouter}">Ajouter</a>
                </div>

                <table class="table">

                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">Titre</th>
                        <th scope="col">Date de sortie</th>
                        <th scope="col">Description</th>
                        <th scope="col">Duree</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Realisateur</th>
                        <th scope="col">Categorie</th>
                        <th scope="col">Modifier</th>
                        <th scope="col">Supprimer</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="p:${films}">
                        <td th:text="${p.getId()}"></td>

                        <td th:text="${p.getTitre()}"></td>
                        <td th:text="${p.getDateSortie()}"></td>
                        <td >
                            <p th:text="${p.getDescription()}"></p>
                        </td>
                        <td th:text="${p.getDuree()}"></td>
                        <td th:text="${p.photo}"></td>
                        <td th:text="${p.getRealisateur()}"></td>
                        <td th:text="${p.getCategorie().getName()}"></td>
                        <td>
                            <a type="button" class="btn btn-primary"
                               th:href="@{ModifierFilm(id=${p.id})}">Modifier</a>
                        </td>
                        <td>
                            <a type="button" class="btn btn-primary"
                               th:href="@{SupprimerFilm(id=${p.id},page=${currentPage.number})}">Supprimer</a>

                        </td>
                        <!--  <td sec:authorize="hasRole('ROLE_ADMIN')"><a type="button" class="btn btn-primary"
                                                                       th:href="@{ModifierPatiant(id=${p.id})}">Modifier</a></td>
                          <td sec:authorize="hasRole('ROLE_ADMIN')"><a type="button" class="btn btn-danger"
                                                                       th:href="@{deletepatiant(id=${p.id})}">Delete</a></td>
                          -->
                    </tr>

                    </tbody>
                </table>

                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item" th:each="page,status:${pages}"
                            th:class="${status.index==currentPage.number} ? 'page-item ACTIVE' : 'page-item '">
                            <a class="page-link" th:href="@{index(page=${status.index})}"
                               th:text="${status.index}"></a>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
    </div>

</section>

</body>
</HTML>